<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {{!-- <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet"> --}}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/PatientBlood.css">

  <title>Document</title>
</head>

<body>
  <div class="container">
    <form action="/patient_blood_submit" class="form-register">
      <h3>PATIENT BLOOD REGISTRATION FORM</h3>

       <div class="form-group">
              <label for="name">Name</label>
              <br>
              <input id="name" type="text" class="form-control" name="name" placeholder="Enter your name">
              <div class="invalid-feedback">
                Name must be between 3 and 10 characters
              </div>
            </div>

             <div class="form-group">
              <label for="cnic">Cnic</label>
              <br>
              <input id="cnic" type="text" class="form-control" name="cnic" placeholder="Enter your cnic">
               <div class="invalid-feedback">
                Cnic should be in correct format (#####-#######-#)
              </div>
            </div>
             <div class="form-group">
            <label for="bloodType">Bloodtype</label>
            <br>
            <input id="bldgrp" type="text" name="bloodtype" class="form-control" placeholder="Enter your Blood Group">
             <div class="invalid-feedback">
                Please Enter correct Blood Group
              </div>
          </div>
      <div class="form-group">
        <label for="disease">Disease Name</label>
        <br>
        <input type="text" name="disease" placeholder="Enter Disease Name">
      </div>
       <div class="form-group">
            <label for="email">Email</label>
            <br>
            <input type="email" name="email" class="form-control" placeholder="Enter your email">
          </div>
      <div class="form-group">
            <label for="Age">Age</label>
            <br>
            <input id="age" type="number" name="age" class="form-control" placeholder="Enter your Age">
            <div class="invalid-feedback">
                Please Enter Correct Contact Number
              </div>
          </div>
          <div class="form-group">
            <label for="Contact">Contact No</label>
            <br>
            <input id="contact" type="text" name="contact" class="form-control" placeholder="Enter your Contact No">
             <div class="invalid-feedback">
                You are not Eligible to donate blood
              </div>
          </div>
      <div class="form-group">
        <label for="Contact">Hospital Name</label>
        <br>
        <input type="text" name="hospital" placeholder="Enter your Hospital Name">
      </div>

      <div class="form-group">
        <label for="Contact">State </label>
        <br>
        <input type="text" name="state" placeholder="Enter your Hospital Name">
      </div>
      <div class="form-group">
        <label for="Contact">city of Hospital</label>
        <br>
        <input type="text" name="city" placeholder="Enter your Hospital Name">
      </div>
      
       <div class="form-group"> 
              <label for="zip">ZipCode</label>
              <br>
              <input type="text" name="zipcode" class="form-control" placeholder="78888">
        </div>
           
            <button class="btn btn-success ml-3 mb-1">Submit</button>
            
     
    </form>
  </div>
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <script src='validation.js'></script>
</body>

</html>